@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Vast+Shadow&display=swap');

:root {
    --fonte-family: 'Montserrat', sans-serif;
    --bg-color: #146C94;
    --primary-color: #F6F1F1;
}